@{
    ViewData["Title"] = "Instance Info";
}
<h1>@ViewData["Title"]</h1>

<p>Node name: <b>@ViewData["NodeName"]</b></p>
<p>Pod name: <b>@ViewData["Name"]</b></p>
<p>Namespace:<b> @ViewData["Namespace"]</b></p>
<p>Pod IP: <b>@ViewData["PodIp"]</b></p>
<p>Service account: <b>@ViewData["ServiceAccount"]</b></p>

